<div>
    <div style="align-items:center;display:flex;font-family:Kontrapunkt;font-size:32pt;font-weight:700;justify-content:space-between;margin:10px">
        <span >SCAMAZON</span>
        <span>ツ</span>
    </div>
    <nav class="scamazon-tab-selector" data-group="scamazon-products" style="display:flex;justify-content:space-evenly;width:100%">
        {{#each _TABS}}
            <a data-group="scamazon-products" data-tab="scamazon-{{tab}}" style="border:2px outset black;font-family:Kontrapunkt;font-size:14pt;font-weight:bold;padding:3px">{{label}}</a>
        {{/each}}
    </nav>
    <section class="scamazon-tab">

        <input id="product" name="product" type="text" style="display:none" />
        <div class="tab scamazon-weapons" data-group="scamazon-products" data-tab="scamazon-weapons">
            {{#each weapon}}{{#unless system.cybertech}}
                <div style="align-items:center;border:1px outset black;display:flex;gap:10px;justify-content:space-between;margin:10px">
                    <div style="display:flex;flex:8;gap:5px">
                        <img src="{{img}}" style="cursor:pointer" data-action="inspect" data-product-id="{{_id}}" height="96" width="96" />
                        <div >
                            <span style="font-family:PPM Extended Black;font-size:14pt;font-weight:bold;text-transform:uppercase">{{name}}</span></br>
                            <span style="font-weight:bold">{{system.weaponType}}: {{system.damage}}{{#if system.autofire}} autofire{{/if}}</span>
                            {{{system.description}}}
                        </div>
                    </div>
                    <div style="flex:1.5;padding:5px;text-align:center;width:10rem">
                        <p style="font-size:14pt;font-weight:bold">{{system.price}}¤</p>
                        <button style="background-color:#18f081" data-action="submit-product" data-product-id="{{_id}}">BUY</button>
                    </div>
                </div>
            {{/unless}}{{/each}}

            <span style="font-family:Kontrapunkt;font-size:14pt;font-weight:bold;margin:0.5em">BOOSTERS</span>

            {{#each equipment}}{{#equals flags.world.scamazonCategory 'booster'}}
                <div style="align-items:center;border:1px outset black;display:flex;gap:10px;justify-content:space-between;margin:10px">
                    <div style="display:flex;flex:8;gap:5px">
                        <img src="{{img}}" style="cursor:pointer" data-action="inspect" data-product-id="{{_id}}" height="96" width="96" />
                        <div>
                            <span style="font-family:PPM Extended Black;font-size:14pt;font-weight:bold;text-transform:uppercase">{{name}}</span>
                            {{{system.description}}}
                        </div>
                    </div>
                    <div style="flex:1.5;padding:5px;text-align:center;width:10rem">
                        <p style="font-size:14pt;font-weight:bold">{{system.price}}¤</p>
                        <button style="background-color:#18f081" data-action="submit-product" data-product-id="{{_id}}">BUY</button>
                    </div>
                </div>
            {{/equals}}{{/each}}

        </div>

        <div class="tab scamazon-cytech" data-group="scamazon-products" data-tab="scamazon-cytech">

            {{#each weapon}}{{#if system.cybertech}}
                <div style="align-items:center;border:1px outset black;display:flex;gap:10px;justify-content:space-between;margin:10px">
                    <div style="display:flex;flex:8;gap:5px">
                        <img src="{{img}}" style="cursor:pointer" data-action="inspect" data-product-id="{{_id}}" height="96" width="96" />
                        <div>
                            <span style="font-family:PPM Extended Black;font-size:14pt;font-weight:bold;text-transform:uppercase">{{name}}</span>
                            {{{system.description}}}
                        </div>
                    </div>
                    <div style="flex:1.5;padding:5px;text-align:center;width:10rem">
                        <p style="font-size:14pt;font-weight:bold">{{system.price}}¤</p>
                        <button style="background-color:#18f081" data-action="submit-product" data-product-id="{{_id}}">BUY</button>
                    </div>
                </div>
            {{/if}}{{/each}}

            {{#each equipment}}{{#if system.cybertech}}
                <div style="align-items:center;border:1px outset black;display:flex;gap:10px;justify-content:space-between;margin:10px">
                    <div style="display:flex;flex:8;gap:5px">
                        <img src="{{img}}" style="cursor:pointer" data-action="inspect" data-product-id="{{_id}}" height="96" width="96" />
                        <div>
                            <span style="font-family:PPM Extended Black;font-size:14pt;font-weight:bold;text-transform:uppercase">{{name}}</span>
                            {{{system.description}}}
                        </div>
                    </div>
                    <div style="flex:1.5;padding:5px;text-align:center;width:10rem">
                        <p style="font-size:14pt;font-weight:bold">{{system.price}}¤</p>
                        <button style="background-color:#18f081" data-action="submit-product" data-product-id="{{_id}}">BUY</button>
                    </div>
                </div>
            {{/if}}{{/each}}

        </div>

        <div class="tab scamazon-armor" data-group="scamazon-products" data-tab="scamazon-armor">
            {{#each armor}}
                <div style="align-items:center;border:1px outset black;display:flex;gap:10px;justify-content:space-between;margin:10px">
                    <div style="align-items:center;display:flex;flex:8;gap:5px">
                        <img src="{{img}}" style="cursor:pointer" data-action="inspect" data-product-id="{{_id}}" height="96" width="96" />
                        <div>
                            <span style="font-family:PPM Extended Black;font-size:14pt;font-weight:bold;text-transform:uppercase">{{name}}</span></br>
                            <span style="font-weight:bold">Armor: d{{system.tier.max}}</span>
                            {{{system.description}}}
                        </div>
                    </div>
                    <div style="flex:1.5;padding:5px;text-align:center;width:10rem">
                        <p style="font-size:14pt;font-weight:bold">{{system.price}}¤</p>
                        <button style="background-color:#18f081" data-action="submit-product" data-product-id="{{_id}}">BUY</button>
                    </div>
                </div>
            {{/each}}
        </div>

        <div class="tab scamazon-equipment" data-group="scamazon-products" data-tab="scamazon-equipment">
            {{#each equipment}}{{#unless system.cybertech}}{{#unless flags.world.scamazonCategory}}
                <div style="align-items:center;border:1px outset black;display:flex;gap:10px;justify-content:space-between;margin:10px">
                    <div style="display:flex;flex:8;gap:5px">
                        <img src="{{img}}" style="cursor:pointer" data-action="inspect" data-product-id="{{_id}}" height="96" width="96" />
                        <div>
                            <span style="font-family:PPM Extended Black;font-size:14pt;font-weight:bold;text-transform:uppercase">{{name}}</span>
                            {{{system.description}}}
                        </div>
                    </div>
                    <div style="flex:1.5;padding:5px;text-align:center;width:10rem">
                        <p style="font-size:14pt;font-weight:bold">{{system.price}}¤</p>
                        <button style="background-color:#18f081" data-action="submit-product" data-product-id="{{_id}}">BUY</button>
                    </div>
                </div>
            {{/unless}}{{/unless}}{{/each}}
        </div>

        <div class="tab scamazon-drugs" data-group="scamazon-products" data-tab="scamazon-drugs">
            {{#each equipment}}{{#equals flags.world.scamazonCategory 'drug'}}
                <div style="align-items:center;border:1px outset black;display:flex;gap:10px;justify-content:space-between;margin:10px">
                    <div style="display:flex;flex:8;gap:5px">
                        <img src="{{img}}" style="cursor:pointer" data-action="inspect" data-product-id="{{_id}}" height="96" width="96" />
                        <div>
                            <span style="font-family:PPM Extended Black;font-size:14pt;font-weight:bold;text-transform:uppercase">{{name}}</span>
                            {{{system.description}}}
                        </div>
                    </div>
                    <div style="flex:1.5;padding:5px;text-align:center;width:10rem">
                        <p style="font-size:14pt;font-weight:bold">{{system.price}}¤</p>
                        <button style="background-color:#18f081" data-action="submit-product" data-product-id="{{_id}}">BUY</button>
                    </div>
                </div>
            {{/equals}}{{/each}}
        </div>

    </section>
    {{#if _GM}}
        <form>
            <fieldset>
                <legend style="font-family:Kontrapunkt;font-weight:bold">SCAMAZON PRICE FIXER</legend>
                <label for="transaction-fee">Transaction fee</label>
                <input id="scamazon-transaction-fee" name="transactionFee" value="{{fees.transactionFee}}" type="number" step="1"/> 
                </br>
                <label for="delivery-modifier">Delivery modifier</label>
                <input id="scamazon-delivery-modifier" name="deliveryModifier" value="{{fees.deliveryModifier}}" type="number" step="0.01"/> 
                <button type="submit" style="display:none"></button>
             </fieldset
        </form>
    {{/if}}
    <p style="font-size:8pt;margin:1em;padding:10px">***Scamazon charges delivery and transaction fees on each purchase. Scamazon reserves the right to deny a transaction for any reason.</p>
</div>
